.heading-text {
  font-family: 'Poppins', sans-serif;
  font-weight: bolder;
  letter-spacing: 0;
  color: #49596D;
  opacity: 1;
  font-size: 30px;
}

.label-text {
  letter-spacing: 0;
  color: #B0B7F5;
  opacity: 1;
  font-family: 'Poppins', sans-serif;
  font-size: 12px;
  margin: 0;
}

.input-text-box {
  background: #FFFFFF 0 0 no-repeat padding-box;
  border: 2px solid #D2D6FA;
  border-radius: 10px;
  opacity: 1;
}

.custom-form-group {
  display: inline-block;
  width: 100%;
}
